@import 'bootstrap-reboot.min';
@import 'font';

* {
    font-family: 'Roboto';
}

.container {
    margin: 0 auto;
    width: 1325px;
}

@import 'blocks/header';
@import 'blocks/places';
@import 'blocks/tour';
@import 'blocks/region';
@import 'slick';
@import 'blocks/choose';
@import 'blocks/footer';
@import 'blocks/pageup';



